:root{
    --outer-column-width:20%;
	--second-column-width:350px;
	
}
.container{
	width:100%; 
	
	display:inline-block;
	
}
.central img {
    width:30%;
   }
div{  
	border-radius: 5px;
}
.left {
	top:0;
	width: var(--outer-column-width);
	height:300px;
	background-color: #A7DBD8;
	display:inline-block;
vertical-align:top;
	
}
.right {
	height: 50px;
	width: var(--outer-column-width) ;
	background-color: #E0E4CC;
	display:inline-block;
	vertical-align:top;
}
.central{	
	width:40%;
	background-color: #ccffcc;
	/*margin-left: var(--outer-column-width);*/
	display:inline-block;
	vertical-align:top;
}
#headerbar {
	background-color: rgba(255, 126, 194, 0.10);
	position:fixed;
	left: 0;
	right:0;
	
	padding: 0.2em;
	display:inline-block;
}
#footer {
	height: 3em;
	background-color: #69D2E7;
	/*Add your CSS here!*/
	clear: both;
}
.rounder{
	margin: 0.5%;
}
#frame{
	display:inline-block;
	background-color: rgba(255, 20, 145, 1);
	color: white;
	font-size: 1.5em;
	padding: 0.2em;
	border-radius: 10px;
}