 /*
    When setting the primary font stack, apply it to the Pure grid units along
    with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
    specific font stacks to ensure the greatest OS/browser compatibility.
    */
    html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: Georgia, Times, "Times New Roman", serif;
    }
#menu-pad-top{
    height:3em;
}
.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.25, #f2f)/*, color-stop(0.7, #22f)*/, color-stop(0.75, #2ff));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.25, #f2f),/* color-stop(0.7, #22f),*/color-stop(0.75, #2ff));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

body{
  /* padding-left:3%;
   width:94%;
  background-image: url("tile.jpeg");*/
}
.menu-breaker{
    height:3em;
}
.breaker{
box-sizing:border-box;
border:3px solid #FFFFFF;
border-radius: 5px;
font-style: italic;
min-height: 20em;
font-size: 1.1em;
}
a.custom-brand{
    color:red;
    font-family:'Playfair display';
    font-weight:900;
  text-transform: none;/*override pure menu*/
}
/*.pure-g{
    border-bottom: 5px solid rgba(255, 249, 249, 0.30);   
    box-sizing:border-box;
}*/
.qbox{
box-sizing:border-box;
border:3px solid #FFFFFF;
border-radius: 5px;
}
.qbox > *{
margin:1em;
font-family: 'Playfair';
font-size: 1em;
color:#666666;
}
 div p {
    font-family: 'Playfair';
    font-size: 1em;
    color:#666666;
}
.page-description{
    max-width: 24em;
}
.codebox{
   box-sizing:border-box;
    border-radius: 5px;
    padding:1em 1em 0em 1em;
    border:3px solid #FFFFFF;
}
#menu{
    background-color: rgba(63, 63, 63, 0.75);
    font-size: 1.2em;

    overflow: hidden;
     position: fixed; /* Set the navbar to fixed position */
     top: 0; /* Position the navbar at the top of the page */
     width: 100%; /* Full width */
}
.pure-menu-list li a{
color: #FFF1FF;
padding:0.5em;
min-width:3em;
text-align: center;

}

.pure-menu-list li a:hover{
    background:#651212;
    border-radius: 0.5em;
}

#home-page{
    width:100vw;
    min-height:90vh;
   
}

.homeBox {
    width: 100px;
    height: 100px;
    
    background-color: #2D4671;
    position: relative;
    padding: 0;
    margin: 10px 0;
   /* background-image: url("DSC07525c.jpg");*/
    background-repeat: no-repeat;
    background-size: contain;
  }