
body{
   padding-left:3%;
   width:94%;
}
.menu-breaker{
    height:3em;
}
.breaker{
box-sizing:border-box;
border:3px solid #FFFFFF;
border-radius: 5px;
font-style: italic;

}
a.custom-brand{
    color:red;
    font-family:'Playfair display';
    font-weight:900;
    text-transform: none;
}
/*.pure-menu{
    background-color: rgba(255, 244, 249, 0.65);
    position:fixed;
    top: 0;
    font-size: 1.5em;
    max-width:94vw;
    
} */  
.pure-g{
    border-bottom: 5px solid rgba(255, 249, 249, 0.30);   
}
.qbox{
/*background-color: rgba(145, 238, 248, 0.80);*/
box-sizing:border-box;
border:3px solid #FFFFFF;
border-radius: 5px;

}
.qbox > *{
margin:1em;
font-family: 'Playfair';
font-size: 1em;
color:#666666;
}

 div p {
    font-family: 'Playfair';
    font-size: 1em;
    color:#666666;
}

.codebox{

   box-sizing:border-box;
    border-radius: 5px;
    padding:1em 1em 0em 1em;
    border:3px solid #FFFFFF;
    background-color: rgba(145, 238, 248, 0.80);


}

/*.pure-menu-item a{
    font-family: 'Poppins';
	font-size: 1em;
	color:#666666;
}*/
