/* CSS Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, li, fieldset, form, label { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ol, ul { list-style: none; }

:focus { outline: 0; }

h2, h3, h4 { font-weight: normal; }

/* General */
body { background: #fdfdfd; font: 2vw Verdana, sans-serif; line-height: auto; color: #444; }

.fix_width { width: auto; margin: 0 auto; }
.fix_width:after, .left_foot_cont ul li:after { content: " "; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden; }
a { text-decoration: none; }
p { line-height: 1.7em; }
/* Header */
#header {/* background: url(images/buildings.jpg); */
height: 100%; 
z-index: 3; 
position: relative; 
border-bottom: solid 1em red; 
box-shadow: 10px;}
	
	ul.nav {border:2px solid white; 
    
    margin: 2vw 0.1vw 0 0; }
	ul.nav li { 
        
        display: inline-flex;
        width:15vw;
        background-color: lightcyan;
        color: #656463; 
        padding: 0vw 3vw 0 3vw; 
        margin: 0 0.2vw; 
        border-radius: 0.7vw;
        box-shadow: 0.1vw 0.1vw 2px darkblue;
        align-content: center;
        text-align:center;
        }
	ul.nav li a {}
	ul.nav li:hover { /*background:url(images/nav_bck.jpg);*/
        border-radius: 0.5vw;
        box-shadow: 0.1vw 0.1vw 5px darkblue;  
        background-color: lightblue; 
    }

